body {
  background-color: #F5F5F5;
  color: #484848;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

h1 {
  margin-bottom: 0;
}

h1 + p {
  font-size: 1.08em;
  color: #637a91;
  margin-top: .5em;
  margin-bottom: 2.65em;
  padding-bottom: 1.325em;
  border-bottom: 1px dotted;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #1976d2;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 1px;
}
.icon-block i {
  color: #212121;
  font-size: 100px;
  text-shadow: 1px 1px 1px #ccc;
}

footer.page-footer {
  margin: 0;
}

footer.footer-copyright.container{
  margin: 0;
}
